/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/storage/ai-skill
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/css
/public/js
/public/images/vendor/multiselect/*
/public/vendor/tinymce
/public/mix-manifest.json

public/mix-manifest.json
.DS_Store
CLAUDE.md
